<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample </title>
</head>

<body>
    <h1>Cong chinh dep trai qua di</h1>
    <div>
        <img src="/images/chinhdo.png" alt="loi anh">
    </div>
</body>

</html>